<div class="container">
	<h1>List a New Item</h1>

	<div class="alert alert-info" role="alert">If you have multiple copies of the same item, please make a new listing for each one.</div>

	<%= render 'form' %>

	<%= link_to 'Back', listings_path, class: "@btn btn-link" %>
</div>
