$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-default-bg: #3D1C85;
$navbar-default-link-hover-color: #fcfcfc;
$navbar-default-link-hover-bg: #281357;
$navbar-default-brand-color: rgb(225, 211, 255);

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700italic);

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  padding: 0 2em;
}

.navbar-default .navbar-brand {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fcfcfc;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.hero {
  min-height: 450px;
  background: url("https://dl.dropboxusercontent.com/s/ugncmrliv7id0dc/jumbotron2.jpg")no-repeat left top;  border-bottom: 1px solid rgb(60, 27, 132);
  margin-bottom: 4em;
}

.jumbotron {
  background: none;
  h1, h2 {
    font-family: 'Cantarell', sans-serif;
    color: rgb(27, 5, 77);
    font-weight: 700;
    }
}